body{
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    color: darkblue;
}
p:first-of-type{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
table{
    margin-left: 60%;
    margin-right: auto;
    border-collapse: collapse;
}
td{
    border: 1px dashed darkblue;
    padding: 5px;
}
ul{
    list-style-type: circle;
}
.colorful{
    color: #e74c3c;
    font-weight: bold;
}
div{
    width: 600px;
    height: 200px;
    text-align: justify;
    background-color: transparent;
    overflow-y: auto;
    margin: 20px 0;
    border: 1px solid darkblue;
}
a:link, a:visited, a:hover, a:active{
    color: green;
    text-decoration: underline;
}